<header>

    <nav class="navbar"> 

        <a class="logotipo" href="#">LOGO</a>
    

        <ul class=" navigation">
            <li>
                <a class="option" href="#">Contato</a>
            </li>

            <li class="">
                <a class="option" href="#">Trabalhos</a>
            </li>

            <li class="">
                <a class="option" href="#">Horarios</a>
            </li>
    
        </ul>

    </nav>


    <div class="agendamento">

        <div class="presentation-title">    

            <h1 class="title-initial">Muito mais<br> que uma <br> barbearia</h1>

            <button class="button-style" 
            routerLink="/formComponent"
            value="agendar">Agendar</button>
    
        </div>
        
    </div>
    
</header>