<!-- FORMULARIO DE AGENDAMENTO -->
<section class="section-form">
    <div class="form-container">

        <h2>Agendamento Online</h2>

        <form action="" >

                <div class="input-single"> 
                    
                    <input type="text" name="nameclient" required class="input-container" id="nameClient"> 
                    <label for="nameClient"> Nome: </label> 

                </div>
                
                
                <div class="input-single"> 

                    <input type="text" name="surname" required  class="input-container" id="surname">
                    <label for="surname"> Sobrenome: </label>

                </div>


                <div class="input-single"> 

                    <input type="text" name="contactNumber" required  class="input-container" id="contactNumber">
                    <label for="contactNumber">Contato</label>

                </div>


        </form>

    </div>

</section>