<main>
    <section class="section-initial container">
        <div class="presentation ">
            <h2 class="title-presentation">
                Quem Somos?
            </h2>
            <p>
                A melhor barbearia de Afonso Claúdio, localizada no Bairro Grama <br><br>
                Criamos a Barbearia Nome da Barbearia para homens de bom gosto que prezam por estilo, elegância e bom atendimento. <br><br>
                Acreditamos que os homens merecem satisfação total com seu cabelo e barba, e se não for pra deixar impecável a gente nem faz!
            </p>

            <button class="button-presentation" id="sobree" 
            value="sobre">Saiba mais </button>
            
        </div>
    </section>